/*
Index-----------------------------------------------------
*/

#homePaw_current {
    padding-bottom: 1rem;
}

/*
Main ----------------------------------------------------------------------------
*/

#catContainer img {
    display: block;
    height: auto;
    object-fit: cover;
    width: clamp(9rem, 80vw, 20rem); /*werkt+-*/
    height: clamp(7rem, 30vh, 14rem);
    border-radius: 5px;
    box-shadow: 2px 5px 5px var(--border-box-color);
}
#catContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 1em;
    column-gap: 1em;
    padding: 0 1em 10rem 1em;
}
main {
    min-height: 1000px;
    min-width: 100%;
}

/*
media queries -----------------------------------------------------------------
*/
