* {
    box-sizing: border-box;
}
/*
quizheader --------------------------------------------
*/
header .inner {
    margin-top: -3.6rem;
}
header .inner .buttontext {
    height: 4rem;
}
header .inner a {
    color: var(--eyecatcher-color);
}
 /*
 carroussel (MAIN) --------------------------------------
 */
main {
    z-index: -1;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}
.quiz {
    display: none;
    height: 35vh;
    width: 75vw;
    border: 1px solid var(--border-box-color);
    border-radius: 5px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    padding: 1rem;
    color: var(--eyecatcher-color);
    font-weight: 700;
    font-size: 1.25rem;
    box-shadow: 0px 2px 2px var(--border-box-color);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.6s ease;
}
.prev {
    left: 1rem;
}
.next {
    right: 1rem;
}
.prev:hover, .next:hover {
    color: white;
    background-color: var(--bg-accent-light-end);
}
.text {
    font-size: 1.5rem;
    color: var(--small-font-color);
    text-align: center;
    margin-top: 1rem;
}
.linkContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.dot {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 2.25rem;
    width: 2.25rem;
    margin-inline: 0.25rem;
    color: var(--small-font-color);
    font-size: 1.5rem;
    background-color: var(--bg-accent-light-start);
    border-radius: 50%;
    transition: background-color 0.6s ease;
    cursor: pointer;
    z-index: 0;
}

.active, .dot:hover {
    background-color: var(--eyecatcher-color);
    color: white;
}

img {
    width: 75%;
    height: 50%;
    object-fit: contain;
    margin-inline: 10%;
    margin-block: 5%;
}

#beforeContain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#beforeContain > * {
    margin-top: 1rem;
}
#beforeContain button {
    width: 40%;
    height:  10%;
    background-color: var(--bg-accent-light-end);
    color: white;
    box-shadow: 0 2px 2px var(--border-box-color);
    font-size: 1.25rem;
    border: 1px solid var(--bg-accent-light-end);
}
#beforeContain button:hover {
    background-color: var(--eyecatcher-color);
    border: 1px solid var(--eyecatcher-color);
    color: white;
    box-shadow: 0 2px 2px var(--border-box-color);
    transition: all 0.5s ease-in-out;
}
#pfff {
    font-size: 2rem;
    color: var(--eyecatcher-color);
}

/* errors*/
label > abbr.required {
  color: var(--error-color);
  text-decoration: none;
}
input.invalid {
    color: var(--error-color);
    border-color: var(--error-color);
}
.inputDescription {
    color: var(--error-color);
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
